*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}
body{ 
    font-family: 'Cairo', sans-serif;
    margin-bottom: 200px;
}

/*----- TEXT FORMATTING----*/
a{
    text-decoration:none;
    text-align:left;
    color: #808080;
}
h1{
    font-family: 'Cairo', sans-serif;
    text-decoration: underline #ADD8E6;
    color: #00008B;
}

p{
    color:#808080;
}


label{
    color:#00008B;
}
.container{
    max-width:2000px;
    margin:auto;
    padding-left:15px;
    padding-right:15px;
}
.row
{
    max-width:2000px;
    display:flex;
    align-items:left;
    flex-wrap:wrap;
    justify-content: space-around;
}
.col-1{
    flex-basis: 50%;
    min-width: 300px;
}
.col-1 img{
    max-width: 500px;
    padding:50px 0;
    
}
.col-1 h1{
    font-size: 40px;
    line-height: 60px;
    margin: 25px 0;
}

/*----- BUTTON FORMATTING----*/

.btn{
    font-size: 30px;
    display:inline-block;
    max-width:100%;
    max-height:100%;
    BACKGROUND: #00008B;
    color:#fff;
    padding-left:10px;
}
.btn:hover{
    background: #ADD8E6;
    color:black;
}
.page-btn{
 margin: 0 auto 20px;   
}
.page-btn span{
    display: inline-block;
    border: 1px solid #ADD8E6;
    margin-left: 5px;
    text-align:center;
    line-height: 40px;
    
}
.page-btn span:hover{
    background: #ADD8E6;
    color: #fff;
}


/*-----HEADER FORMATTING ----*/
.header{
    flex: 1;
    text-align: right;
    padding-top:10px;
    padding-right:40px;
}
.menu-icon{
    width:28px;
    margin-left:20px;
    display:none;
}
.Navbar{
    display: flex;
    align-items:center;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display:inline-block;
    list-style-type:none;
    
}
nav ul li{
    display:inline-block;
    list-style-type:none;
    margin-right:20px;
    
}

/*-----MISC ----*/
.header .row{
    margin-top: 70px;
}
.categories{
    margin:10px 0;
    padding-left: 20px;
    padding-right:20px;
}
.col-3{
    flex-basis:30%;
    min-width:250px;
    margin:10px;
}
.col-3 img{
    padding: 30px 0;
    max-width:100%;
    max-height:100%;
    margin-left: 10px;
}
.small-container{
    max-width: 500px;
    margin:auto;
    padding-left:25px;
    padding-right:25px;    
}
.footer{
    text-align:right;
    position:fixed;
    bottom: 0;
    margin-bottom:10px;
    width: 100%;
    padding-right: 15px;
    background-color: white;
}

/*-----GALLERY FORMATTING ----*/
.gallery-container{
    width: 100%;
    height: 500px;

    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: ;
}
.gallery-container a:hover{
    opacity:0.8;    
}
.gallery-container a div {
    width: 100%;
    height: 235 px;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*---------------- all products page --------------*/
.row-2{
    justify-content:space-between;
    margin: 10px auto 10px;
}
select{
    border: 1px solid #ADD8E6;
    padding: 5px;
}
select:focus{
    outline:none;
}
#frm{
    border:solid gray 1px;
    width: 20%;
    border-radius: 5px;
    margin: 100px auto;
    background: white;
}
.error{
    background: #F2DeDe;
    color: #A94442;
    padding: 10px;
    width: 95%;
    border-radius: 5px; 
}
.product-filter {
  display: flex;
}
.sort {
  display: flex;
}
.collection-sort {
  display: flex;
}
.product-filter h1 {
  flex-grow: 1;
}




.logincontainer {
  width: 300px;
  clear: both;
}
.logincontainer input {
  width: 100%;
  clear: both;
}

/*---------------- PRODUCT INFO PAGE --------------*/
.btnAddAction {
    padding: 5px 10px;
    margin-left: 20px;
    background-color: #EFEFEF;
    border: #E0E0E0 1px solid;
    color: #211A1A;
    float: right;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
    vertical-align: top;
    font-weight: bold;
    font-size: ;
}
.cart-action {
    margin-left: 150px;
    float: left;
}
.product-quantity {
    padding: 5px 10px;
    border-radius: 3px;
    border: #E0E0E0 1px solid;
    vertical-align: top;
    font-weight: bold;
}
.product-description {
    border-radius: 3px;
    margin-top: 10px;
    font-size: 18px;
    border: 2px solid #D6D0D0;
    padding: 0 0 0 10px;
    /*+placement: -5px 21px;*/
    position: relative;
    left: -5px;
    top: 21px;
    height: 52px;
    width: 350px;
}
.product-headings {
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    margin-top: 0;
    font-family: Arial;
    text-decoration: none;
    width: ;
    /*+placement: 25px 0px;*/
    position: relative;
    left: 25px;
    top: 0px;
}
.back-button-productpage {
    cursor: pointer;
    padding: 5px;
    font-weight: bold;
    position:absolute;
    transition: .5s ease;
    top: 85%;
    left: 2%;
   
}


/*---------------- Shopping Cart --------------*/
.tbl-cart {
	font-size: 0.9em;
}
.tbl-cart th {
	font-weight: normal;
}

/*----- Dynamic position for menu----*/
@media only screen and (max-width: 800px){
    nav ul{
        position:absolute;
        top:100px;
        right:0;
        width:170px;
        overflow:hidden;
        transition: max-height 0.5;
        background:white;
        border-style: dashed;
    }
    
    nav ul li{
        display:block;
        margin-top: 10px;
        margin-bottom:10px;
    }
    
    .menu-icon{
        display:block;
        cursor:pointer;
    }  
}

.center{
    position:fixed;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    padding: 50px;
    border-style: groove;
    border-radius: 20px;
    border-color: #ADD8E6;
}